html {
	color: #daddd8;
	background-color: #1D1F21;
}

.title, .skills, h1, h2, h3, h4, h5, h6, .myname a {
	color: #F8F5F4;
}

.article-meta, .homelink a, footer a {
	color: #daddd8;
}

.links > li > a {
    border: 1px solid #2F2F2F;
}

.links > li > a:hover {
    background: #2F2F2F;
}