
@media screen and (min-width: 1100px) {

  figure {
    max-width: 1000px;
    width: 1000px;
    overflow: auto;
  }

  figure img {
    float: left;
    display: block;
  }

  figure.myphoto {
    max-width: 100%;
    width: 100%;
  }

  img {
    max-width: 650px;
    min-width: 650px;
    object-fit: scale-down;
    object-position: 50% 0;
  }

  .sidenote-container {
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    transform: translateY(-50%);
  }

  .sidenote {
    float: right;
    width: 270px;
  }

  figcaption {
    position: relative;
    margin-top: -5px;
    float: right;
    width: 270px;
  }

  .font-load-1 figcaption {
    margin-top: -5px;
  }

  .blob-home-top {
    width: 100%;
    height: calc(60vw - 400px - 2px);
    top: 700px;
    left: 0;
    right: 0;
  }

  .blob-home-top-cut {
    border-top-right-radius: 55% calc(60vw - 400px);
    width: 150%;
    height: calc(60vw - 400px);
    top: 700px;
    right: -25%;
  }

  .blob-home-bottom {
    visibility: hidden;
  }

  .blob-home-bottom-cut {
    visibility: hidden;
  }

  .blob-home-corner {
    left: -15%;
    width: 130%;
    height: 700px;
    border-bottom-left-radius: 45% calc(40vw - 400px);
  }

  .bio-temp,
  .bio-temp a,
  .section-name {
    color: #eceff4;
  }

}

@media screen and (min-width: 2750px) {

  .blob-home-corner {
    border-bottom-left-radius: 45% 700px;
  }

}
