
@media screen and (min-width: 785px) {

  .circle-article-1 {
    left: calc(50% - 50px);
    display: block;
  }

  .circle-article-2 {
    left: calc(50% - 1000px);
    display: block;
  }

  .circle-article-3 {
    left: calc(50% - 200px);
    display: block;
  }

  .blob-single-corner {
    top: -1vw;
    height: 78px;
    transform: skewY(.4deg);
  }

  .home-link a {
    color: #eceff4;
  }

}
