
figure {
  max-width: 950px;
  width: 950px;
  overflow: auto;
}

figure img {
  float: left;
  display: block;
}

figure.myphoto {
  max-width: 100%;
  width: 100%;
}

img {
  max-width: 650px;
  min-width: 650px;
  object-fit: scale-down;
  object-position: 50% 0;
}

figcaption {
  font-size: 0.9em;
  letter-spacing: 0.008em;
  margin-top: -5px;
  float: right;
  width: 270px;
}

.font-load-1 figcaption {
  font-size: 0.8em;
  letter-spacing: -0.02em;
  line-height: 1.72em;
  margin-top: -5px;
}
