@media screen and (min-width: 1100px) {

  .blob-home-top {
    width: 56%;
    height: calc(60vw - 400px - 2px);
    top: 698px;
    right: 0;
  }

  .blob-home-top-cut {
    border-top-right-radius: 55% calc(60vw - 400px);
    width: 150%;
    height: calc(60vw - 400px);
    top: 700px;
    right: -25%;
  }

  .blob-home-bottom {
    visibility: hidden;
  }

  .blob-home-bottom-cut {
    visibility: hidden;
  }

  .blob-home-corner {
    left: -15%;
    width: 130%;
    height: 700px;
    border-bottom-left-radius: 45% calc(40vw - 400px);
  }

  /*
  .bio,
  .bio a,
  .section-name {
    color: #ebeaf1;
  }
  */
}
