
@media screen and (min-width: 785px) {

  .circle-article-1 {
    left: calc(50% - 50px);
    display: block;
  }

  .circle-article-2 {
    left: calc(50% - 1000px);
    display: block;
  }

  .circle-article-3 {
    left: calc(50% - 200px);
    display: block;
  }

  .blob-single-corner {
    background-image: linear-gradient(-45deg, #303641 0, #242933 100%);
  }

  .blob-photo {
    background-image: url("/header_v1.2.png");
    background-repeat: no-repeat;
    max-width: 1250px;
    margin-left: calc(50% - 500px);
  }

  .home-link a {
    color: #eceff4;
  }

}
