
.authors a {
  background-size: 5px 2px;
  background-position: 0 1em;
}

.metadata a {
  background-size: 5px 1px;
  background-position: 0 1.04em;
}

.font-load-1 .metadata a {
  background-size: 5px 1px;
  background-position: 0 1.22em;
}

.blob-top,
.blob-top-cut {
  visibility: hidden !important;
}

.blob-bottom,
.blob-bottom-cut {
  top: 600px !important;
  width: 150% !important;
  height: 100px !important;
}

.blob-bottom {
  left: -50px !important;
}

.blob-bottom-cut {
  border-top-right-radius: 35% 100px !important;
}

.blob-corner {
  left: -50px !important;
  width: 150% !important;
  height: 600px !important;
  border-bottom-left-radius: 35% 100px !important;
}
