
@media screen and (max-width: 784px) {

  .circle-article-1 {
    left: calc(50% - 80px);
    display: block;
  }

  .circle-article-2 {
    left: calc(50% - 700px);
    display: block;
  }

  .circle-article-3 {
    left: calc(50% + 80px);
    display: block;
  }

  .blob-home-bottom {
    top: 450px;
    border-top-right-radius: 35% 30px;
  }

  .blob-home-bottom-cut {
    top: 450px;
  }

  .blob-home-corner {
    height: 450px;
    border-bottom-left-radius: 35% 30px;
  }

  .blob-photo {
    /* background-image: url("/header_v1.2_small.webp"); */
    /* background-repeat: no-repeat; */
    max-width: 915px;
    margin-top: -50px;
    margin-left: calc(50% - (570px - 25%));
  }

}
