
.header-meta a {
  background-size: auto 2px;
  background-position: 0 1em;
}

.metadata a {
  background-size: auto 1px;
  background-position: 0 1.04em;
}

.font-load-1 .metadata a {
  background-size: auto 1px;
  background-position: 0 1.22em;
}

.blob-home-top,
.blob-home-top-cut {
  visibility: hidden !important;
}

.blob-home-bottom,
.blob-home-bottom-cut {
  top: 510px !important;
  width: 150% !important;
  height: 100px !important;
}

.blob-home-bottom {
  left: -50px !important;
}

.blob-home-bottom-cut {
  border-top-right-radius: 35% 100px !important;
}

.blob-home-corner {
  left: -50px !important;
  width: 150% !important;
  height: 510px !important;
  border-bottom-left-radius: 35% 100px !important;
}
