
.toc {
    margin-left: -1.2em;
    padding-top: .4em
}

.toc ul {
    margin-top: -1em
}

.toc li {
    letter-spacing: -.03em;
    line-height: 1.5em
}

.footnote>p,.toc li {
    font-size: 14px;
    margin: 1em 0 0;
    padding: 0
}

.table>.list-meta {
    line-height: 1.3em
}

.table>.list-title {
    font-size: 14.5px;
    letter-spacing: -.02em;
    line-height: 1.45em
}

.table>.list-title>a {
    background-position: 0 1.52em
}

p {
    margin-top: .7em
}

ol>li,ul>li {
    margin-top: 12px
}

.title {
    font-size: 3em;
    line-height: 1.2em;
    margin: .1em 0 0
}

.subtitle,.title,h1,ol,p,summary,ul {
    letter-spacing: -.03em
}

h1 {
    padding-top: .53em
}

.subtitle {
    font-size: 2.7em;
    line-height: 1.22em;
    margin-top: .15em
}

h2 {
    font-size: 1.5em;
    letter-spacing: -.032em;
    padding-top: .76em;
    margin-bottom: -.25em
}

h3 {
    font-size: 1.2em;
    letter-spacing: -.031em
}

.links>li,.myname,h2,h4 {
    margin-top: 0
}

h4 {
    font-size: 1em;
    letter-spacing: -.025em;
    padding-top: 1.7em
}

.links>li {
    margin-bottom: 0;
    line-height: 42px
}

.logo {
    font-size: 16px;
    letter-spacing: -.045em;
    padding-top: .7em
}

.myname {
    padding-top: .4em;
    letter-spacing: -.816px
}

.myemail {
    padding-top: .35em;
    letter-spacing: -.035em
}

.mylinks {
    letter-spacing: -.005em;
    margin-bottom: 1em;
    padding-top: 1.35em
}

.skills {
    font-size: 1em;
    letter-spacing: -.02em;
    margin-top: 1em;
    margin-bottom: 0
}

.footnote a,.metadata a,a {
    background-position: 0 1.44em
}

ol,p,summary,ul {
    --x-height-multiplier: 0.35;
    --baseline-multiplier: 0.179;
    font-size: 18px;
    line-height: 1.88em
}

summary {
    line-height: 2em
}

.home-link {
    font-family: NunitoRegular,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700
}

.title,b,footer>ul>li,h1,h2,h3,h4,h5,h6,strong {
    font-family: NunitoBold,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700
}

b,strong {
    font-family: MartelBold,TimesNewRoman,"Times New Roman",Times,serif
}

.table>.list-title,ol,p,summary,ul {
    font-family: MartelRegular,TimesNewRoman,"Times New Roman",Times,serif;
    font-weight: 400
}

footer>ul>li {
    font-size: 13px;
    letter-spacing: 0;
    line-height: 3em;
    margin: 0 0 -1em
}

.links,.section-link,.skills,.subtitle {
    font-family: NunitoRegular,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 400
}

.links {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif
}

.metadata {
    margin-top: .9em
}

.footnote {
    margin-top: 1em
}

.footnote>p,.metadata>p {
    letter-spacing: -.025em;
    line-height: 1.53em
}

.metadata>p {
    font-size: 20px
}

@media screen and (max-width:980px),print {
    .title {
        font-size: 2em
    }

    .metadata {
        margin-top: .6em
    }

    .subtitle {
        font-size: 1.9em
    }

    .metadata>p {
        font-size: 1em
    }
}

@media screen and (max-width:700px) {
    .table>.list-title,ol,p,summary,ul {
        font-family: MartelMobile,TimesNewRoman,"Times New Roman",Times,serif;
        font-weight: 400
    }

    .logo,.subtitle,.title,footer>ul>li,h1,h2,h3,h4,h5,h6 {
        font-family: NunitoMobile,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
        font-weight: 400
    }

    ol,p,summary,ul {
        font-size: 15px;
        letter-spacing: 0;
        line-height: 2em
    }

    .table>.list-title {
        font-size: 14.4px;
        letter-spacing: -.02em;
        line-height: 1.5em
    }

    .logo {
        margin-top: .1em
    }

    .title {
        font-size: 1.7em;
        letter-spacing: -.02em
    }

    .subtitle,h1 {
        font-size: 1.5em;
        line-height: 1.3em
    }

    .subtitle {
        letter-spacing: -.05em
    }

    h2 {
        font-size: 1.35em
    }

    h3,h4 {
        letter-spacing: -.031em
    }

    h3 {
        font-size: 1.2em
    }

    h4 {
        font-size: 1em
    }

    .metadata {
        margin-top: .1em
    }

    .metadata>p {
        font-size: 15px
    }

    .footnote>p,.metadata>p {
        line-height: 1.7em
    }

    .table>.list-title>a {
        background-position: 0 1.48em
    }

    .footnote a,.metadata a {
        background-position: 0 1.5em
    }
}
