
html
{
	font-size: 15px
}

img
{
	max-width: 100%;
	margin-left: 0
}

.title,
h1,
h2,
h3,
h4,
h5,
h6,
html
{
	font-weight: 400
}

code,
kbd,
pre,
samp
{
	font-size: .85em
}

.table>div
{
	font-size: 1em
}

.title
{
	font-size: 1.8em
}

.subtitle,
h1
{
	font-size: 1.6em
}

h2
{
	font-size: 1.4em
}

h3
{
	font-size: 1.2em
}

.table>.list-title>a:hover,
a
{
	background-size: 5px 1px
}

footer
{
	font-size: .8em
}

.table
{
	flex-direction: column;
	align-items: normal;
	margin-bottom: .9em
}

.table li
{
	padding: 5px 0px 5px 0px
}

.table>.list-meta
{
	margin-top: 1em;
	margin-bottom: .4em;
	font-size: .7em
}

.table>.list-title
{
	font-size: .9em
}

footer>.table
{
	text-align: center
}

.table>.col1,
.table>.col2
{
	order: 0
}

.mjx-math
{
	font-size: 13px;
	margin: 0
}
