
html, .myname
{
	color: #333;
	background-color: #fff
}

.myname,
.title,
h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight: 400
}

a,
.homelink a,
.myemail a,
.mylinks a,
.table > .list-meta > a,
.table > .list-title > a,
footer a,
html
{
	color: #333
}

.links > li > a
{
	border: 1px solid #e5e5e5
}

.links > li > a:hover
{
	background: #e5e5e5
}
