
.font-load-1 .logo,
.font-load-1 .myname,
.font-load-1 .subtitle,
.font-load-1 .title,
.font-load-1 footer > ul > li,
.font-load-1 h1,
.font-load-1 h2,
.font-load-1 h3,
.font-load-1 h4,
.font-load-1 h5,
.font-load-1 h6,
.myname,
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.anchor {
  display: none;
}

.footnote a,
.homelink a,
.metadata a,
.myemail a,
.mylinks a,
.myname a,
.subtitle a,
.table > .list-meta > a,
.table > .list-title > a,
.title a,
a,
footer a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: underline;
  background-image: none;
}

pre {
  background-color: #fff;
  border-radius: 0;
  overflow-x: initial;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

pre span {
  color: #000 !important;
}
