
@font-face {
    font-family:'edduarte-content-bold'; 
    font-style:normal;
    font-weight:700;
    src:url('../fonts/martel-v1-latin-900.eot'); /* IE9 Compat Modes */
    src:local('Martel Heavy'), local('Martel-Heavy'),
    url('../fonts/martel-v1-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/martel-v1-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/martel-v1-latin-900.woff') format('woff'), /* Modern Browsers */
    url('../fonts/martel-v1-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/martel-v1-latin-900.svg#Martel') format('svg'); /* Legacy iOS */
}

@media screen and (min-width:700px) {

    @font-face {
        font-family:'edduarte-headings-bold';
        font-style:normal;
        font-weight:700;
        src: url('../fonts/heebo-v2-latin-500.eot'); /* IE9 Compat Modes */
        src: local('Heebo Bold'), local('Heebo-Bold'),
        url('../fonts/heebo-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/heebo-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/heebo-v2-latin-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/heebo-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/heebo-v2-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
    }

    .font-stage-2 .logo,.font-stage-2 .subtitle,.font-stage-2 .title,.font-stage-2 footer>ul>li,.font-stage-2 h1,.font-stage-2 h2,.font-stage-2 h3,.font-stage-2 h4,.font-stage-2 h5,.font-stage-2 h6 {
        font-family: "edduarte-headings-bold","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
        font-weight: 700
    }

    .font-stage-2 .myname {
        letter-spacing: -.68px;
        margin-top: 0;
        padding-top: .36em
    }

    .font-stage-2 .myemail {
        letter-spacing: -.035em
    }

    .font-stage-2 .mylinks {
        letter-spacing: -.005em;
        padding-top: 1.35em;
        margin-bottom: 1em
    }

    .font-stage-2 .title {
        letter-spacing: -.03em
    }

    .font-stage-2 .subtitle {
        letter-spacing: -.035em
    }

    .font-stage-2 h2 {
        margin-bottom: -.25em
    }

}

.font-stage-2 b,.font-stage-2 strong {
    font-family: "edduarte-content-bold",TimesNewRoman,"Times New Roman",Times,serif;
    font-weight: 700
}

@media screen and (max-width:980px),print {
    .font-stage-2 .title {
        letter-spacing: -.028em
    }
}

@media screen and (max-width:700px) {
    .font-stage-2 .title {
        font-size: 1.7em;
        letter-spacing: -.02em
    }
}
