
html {
	font-family: 'Martel', 'Cambria', "Times New Roman", Times, serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 2em;
	letter-spacing: -.02em;
	color: #333;
}

code, kbd, pre, samp, .table > .list-meta{
	font-family: 'Oxygen Mono', monospace;
	font-size: 0.88em;
	font-weight: 200;
	line-height: 1.5em;
	letter-spacing: 0;
}

.title, .homelink, .subtitle, .links, .skills, h1, h2, h3, h4, h5, h6, footer {
	font-family: 'Varela Round', 'Work Sans', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', Arial, sans-serif;
}

.title, h1, h2, h3, h4, h5, h6 {
	font-weight:600;
}

.subtitle, .metadata, .skills, .links, footer {
	font-weight:400;
}

b, strong {
	font-weight:900;
}

body {
	margin: auto;
	padding: 1em;
}

body {
	max-width: 622px;
}

img {
	max-width: 120%;
	margin-left: -10%;
}

footer {
	font-size: 0.8em;
	margin: 0;
	margin-top: 3em;
}

.homelink a, footer a, .myname a, .table > .list-meta > a {
	color: #333;
	text-decoration: none;
	background-image: none;
}

.homelink a:hover, footer a:hover, .myname a:hover, .table > .list-meta > a:hover {
	text-decoration: none;
	background-image: linear-gradient(to right, #333 50%, #333 50%);
	background-position: 0 1.1em;
	background-repeat: repeat-x;
	background-size: 5px 2px;
	background-origin: border-box;
}

footer a:hover {
	background-position: 0 1em;
}

.table > .list-meta > a:hover {
	background-position: 0 1.2em;
}

.table > .list-title > a {
	background-position: 0 1.3em;
}


.skills {
	margin-bottom: 1.5em;
}

summary {
	margin-top: 2em;
	margin-bottom: 1em;
}

dfn {
	font-style:italic;
}

small {
	font-size:80%;
}

.homelink {
	margin: 0;
	letter-spacing: -.060em;
}

.title {
	font-size: 2em;
	line-height: 1.22em;
	letter-spacing: -.060em;
	margin: 0;
	margin-top: 0.1em;
	margin-bottom: 0;
}

h1, .subtitle {
	font-size: 1.8em;
	line-height: 1.2em;
	letter-spacing: -.045em;
	margin: 0;
	margin-bottom: -0.3em;
	margin-top: 1em;
}

.subtitle {
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	color: #fe5f55;
}

h2 {
	font-size: 1.5em;
	line-height: 1.2em;
	letter-spacing: -.038em;
	margin-bottom: -0.4em;
	margin-top: 1.2em;
}

h3 {
	font-size: 1.2em;
	line-height: 1.2em;
	letter-spacing: -.031em;
	margin-bottom: -0.6em;
	margin-top: 1.75em;
}

h4 {
	font-size: 1em;
	line-height: 1.2em;
	letter-spacing: -.025em;
	margin-bottom: -0.6em;
	margin-top: 2.17em;
}

.date {
	color: #737477;
}

.metadata {
	font-size: 1em;
	color: #737477;
	line-height: 1.8em;
	letter-spacing: -.04em;
	margin-top: 0;
	margin-bottom: 0.9em;
}

.metadata > p {
	margin: 0;
	margin-bottom: 0.1em;
}

a {
	color: #737477;
	text-decoration: none;
	background-image: linear-gradient(to right, #737477 50%, #737477 50%);
	background-position: 0 1.38em;
	background-repeat: repeat-x;
	background-size: 5px 2px;
	background-origin: border-box;
}

.table > .list-title > a {
	/*color: #69B9B7;
	text-decoration: none;
	background-image: none;*/
	background-size: 5px 2px;
	background-position: 0 1.41em;
}

a:has(> img) {
	background-image: none;
}

ul {
	margin: 0;
	margin-left: 0.2em;
	margin-top: -1.5em;
	margin-bottom: -0.6em;
	padding: 15px;
}

.links {
	padding: 0;
	margin: 0;
    font-size: 13px;
    letter-spacing: 0;
    font-style: normal;
}

.links > li {
    letter-spacing: 0;
    line-height: 22px;
    margin-right: 0.5em;
    margin-bottom: 1.2em;
    display: inline-block;
    position: relative;
}

.links > li > a {
    text-decoration: none;
	background-image: none;
    padding: 8px 8px;
    border: 1px solid #E5E5E5;
    border-radius: 0.3em;
    cursor: pointer;
    color: inherit;
}

.links > li > a:hover {
    text-decoration: none;
    background: #E5E5E5;
}

hr {
	border-style: solid;
	color: transparent;
}

pre {
	margin: 0;
	background-color: #0B0C0F;
	border-radius: 6px;
	color: #fff;
	padding: 0.7em;
	overflow-x: auto;
}

pre code {
	background: none;
}

iframe, video { max-width: 100%; }
main {
	margin-bottom: 40px;
}
blockquote {
	margin: 0;
	padding: 0;
	padding-left: 1em;
	border-left: 4px solid #daddd8;
	border-radius: 4px;
	font-style: italic;
}

table {
	margin: auto;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #daddd8; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #daddd8 }

img.myphoto {
	max-width: 100px;
	max-height: 100px;
	min-width: 100px;
	min-height: 100px;
	border-radius: 100px;
	margin: 0;
	margin-top: 15vw;
	margin-bottom: 1vw;
}

.centered {
	text-align: center;
}
img.centered {
		position: relative;
		top: 10%;
		left: 10%;
}

img.centered:empty {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, 0%);
		-moz-transform: translate(-50%, 0%);
		-ms-transform: translate(-50%, 0%);
		-o-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
}

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.table {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row;
	/*align-items: center;*/
}

.table li {
	display: inline-block;
	padding: 5px;
}

.table > div {
	letter-spacing: -.035em;
	line-height: 1.5em;
}

.table > .col1 {
	margin: 0;
	padding: 0;
	flex: 2 1 15%;
	order: 1;
}

.table > .col2 {
	margin: 0;
	padding: 0;
	flex: 1 6 85%;
	order: 2;
}

.table > .list-title {
	font-size: 0.92em;
	letter-spacing: -.02em;
}

.table > .list-meta {
	font-size: 0.7em;
	margin-top: 0;
}

.table > div > a {
	text-decoration: none;
}

.mjx-math {
	font-size: 16px;
}
