
html
{
	font-family: 'Martel', 'Lucida Bright', 'Georgia', "Times New Roman", Times, serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 16.8px;
	font-weight: 400;
	line-height: 1.8em;
	letter-spacing: -.015em;
	color: #daddd8;
	background-color: #0e1115
}

.wf-active {
	font-size: 16px;
	line-height: 2em;
	letter-spacing: -.02em;
}

.table > .list-meta,
code,
kbd,
pre,
samp
{
	font-family: 'Oxygen Mono', monospace;
	font-weight: 200;
	line-height: 1.5em;
	letter-spacing: 0
}

code,
kbd,
pre,
samp
{
	font-size: .88em
}

.homelink,
.links,
.skills,
.subtitle,
.title,
footer,
h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: 'Varela Round', 'Work Sans', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', Arial, sans-serif
}

.title,
h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight: 600
}

.links,
.metadata,
.skills,
.subtitle,
.table > .list-title,
footer
{
	font-weight: 400
}

b,
strong
{
	font-weight: 900
}

body
{
	margin: auto;
	padding: 1em;
	max-width: 622px
}

img
{
	max-width: 120%;
	margin-left: -10%
}

footer
{
	font-size: .8em;
	margin: 0 0 -1em 0
}

summary
{
	margin-top: 1em
}

.skills
{
	margin-top: 0.5em
}

blockquote,
dfn
{
	font-style: italic
}

small
{
	font-size: 80%
}

.homelink
{
	margin: 0;
	letter-spacing: -.045em
}

.myname,
.myemail,
.mylinks
{
	margin-bottom: 0;
	letter-spacing: -.06em
}

.myname
{
	margin-top: 0
}

.myemail
{
	margin-top: 0.5em
}

.mylinks
{
	margin-top: 0.8em;
	color: #fe5f55
}

.myname,
.myname a,
.myemail,
.myemail a,
.mylinks a,
.title,
.title a,
h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a,
h6,
h6 a
{
	background-image: none;
	color: #f8f5f4
}

.myname a:hover,
.myemail a:hover,
.mylinks a:hover,
.title a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover
{
	background-image: linear-gradient(to right, #f8f5f4 50%, #f8f5f4 50%);
	background-position: 0 1.1em;
	background-repeat: repeat-x;
	background-size: 5px 2px;
	background-origin: border-box
}

.title,
h1,
h2,
h3,
h4
{
	line-height: 1.2em
}

.title
{
	font-size: 2em;
	letter-spacing: -.052em;
	margin: 0
}

.subtitle,
h1
{
	margin: 1em 0 -.3em;
	font-size: 1.8em;
	letter-spacing: -.045em
}

.subtitle
{
	line-height: 1.2em;
	margin: .2em 0 .3em
}

.subtitle,
.subtitle a
{
	color: #fe5f55;
}

h2
{
	font-size: 1.5em;
	letter-spacing: -.038em;
	margin-bottom: -.4em;
	margin-top: 1.2em
}

h3
{
	font-size: 1.2em;
	letter-spacing: -.031em;
	margin-bottom: -.6em;
	margin-top: 1.75em
}

.metadata,
h4
{
	font-size: 1em
}

h4
{
	letter-spacing: -.025em;
	margin-bottom: -.8em;
	margin-top: 2.17em
}

.metadata
{
	line-height: 1.8em;
	letter-spacing: -.04em;
	margin-top: 0;
	margin-bottom: .5em
}

.metadata > p
{
	margin: 0 0 .1em
}

.date,
.metadata,
.metadata a,
.skills
{
	color: #737477
}

.metadata a
{
	background-image: linear-gradient(to right, #737477 50%, #737477 50%);
}

a
{
	text-decoration: none;
	color: #8fd694;
	background-image: linear-gradient(to right, #8fd694 50%, #8fd694 50%);
	background-position: 0 1.38em;
	background-repeat: repeat-x;
	background-size: 5px 2px;
	background-origin: border-box
}

.homelink a,
.table > .list-meta > a,
footer a
{
	color: #daddd8;
	background-image: none
}

.table > .list-meta > a:hover
{
	text-decoration: underline;
}

.homelink a:hover,
footer a:hover
{
	background-image: linear-gradient(to right, #daddd8 50%, #daddd8 50%);
	background-repeat: repeat-x;
	background-origin: border-box
}

.table > .list-title > a
{
	background-position: 0 1.45em
}

.homelink a:hover,
footer a:hover
{
	background-position: 0 1.1em
}

.table > .list-meta > a:hover
{
	background-position: 0 1.2em;
	background-size: 5px 1px
}

ul
{
	margin: -1.5em 0 -.6em .2em;
	padding: 15px
}

.links
{
	padding: 0;
	margin: 0;
	font-size: 13px;
	letter-spacing: 0;
	font-style: normal
}

.links > li
{
	letter-spacing: 0;
	line-height: 42px;
	margin-right: .5em;
	display: inline-block;
	position: relative
}

.links > li > a
{
	text-decoration: none;
	background-image: none;
	padding: 8px;
	border: 1px solid #2f2f2f;
	border-radius: .3em;
	cursor: pointer;
	color: inherit
}

.links > li > a:hover
{
	text-decoration: none;
	background: #2f2f2f
}

hr
{
	border-style: solid;
	color: transparent
}

pre
{
	margin: 0 0 2em 0;
	background-color: #0b0c0f;
	border-radius: 6px;
	color: #fff;
	padding: .7em;
	overflow-x: auto
}

pre code
{
	background: 0 0
}

iframe,
video
{
	max-width: 100%
}

main
{
	margin-bottom: 40px
}

blockquote
{
	margin: 0;
	padding: 0 0 0 1em;
	border-left: 4px solid #daddd8;
	border-radius: 4px
}

table
{
	margin: auto;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666
}

table thead th
{
	border-bottom: 1px solid #daddd8
}

td,
th
{
	padding: 5px
}

tr:nth-child(even)
{
	background: #daddd8
}

img.myphoto
{
	max-width: 100px;
	max-height: 100px;
	min-width: 100px;
	min-height: 100px;
	border-radius: 100px;
	margin: 0;
	margin-top: 15vw;
	margin-bottom: 1vw
}

.centered
{
	text-align: center
}

img.centered
{
	position: relative;
	top: 10%;
	left: 10%
}

img.centered:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%)
}

.list
{
	list-style-type: none;
	padding: 0;
	margin: 1.5em 0 0
}

.table
{
	margin: 0 0 .9em;
	padding: 0;
	display: flex;
	flex-flow: row
}

.table li
{
	display: inline-block;
	padding: 0px 10px 0px 0px
}

.table > div
{
	letter-spacing: -.035em;
	line-height: 1.5em
}

.table > .col1,
.table > .col2
{
	margin: 0;
	padding: 0;
	flex: 2 1 15%;
	order: 1
}

.table > .col2
{
	flex: 1 6 85%;
	order: 2
}

.table > .list-title
{
	font-size: .92em;
	letter-spacing: -.02em
}

.table > .list-meta
{
	font-size: .7em;
	margin-top: 0
}

.table > div > a
{
	text-decoration: none
}

.mjx-math
{
	font-size: 16px
}