
html, .table > div {
	font-family: 'Martel', Georgia, 'Cambria', "Times New Roman", Times, serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-size: 18px;
	font-weight: 700;
	line-height: 2em;
	letter-spacing: -.02em;
	color:#333;
}

body {
	max-width: 700px;
	margin: auto;
	padding: 1em;
}

b, strong {
	font-weight:900;
}

.title, .subtitle, h1, h2, h3, h4, h5, h6, footer, .skills, .table, .table > .list-meta {
	font-family: 'Work Sans', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', Arial, sans-serif;
	font-weight:600;
}

footer {
	font-size: 0.7em;
	margin: 0;
}

.article-meta, .homelink a, footer a, .myname a {
	color: #333;
	text-decoration: none;
}
.homelink a:hover, .table a:hover, footer a:hover, .myname a:hover {
	text-decoration: underline;
}

.skills {
	margin-bottom: 1.5em;
}

summary {
	margin-top: 2em;
	margin-bottom: 1em;
}

dfn {
	font-style:italic;
}

small {
	font-size:80%;
}

.title {
	font-size: 2.1em;
	line-height: 1.22em;
	letter-spacing: -.070em;
	margin: 0;
	margin-top: 0.1em;
	margin-bottom: -0.2em;
}

h1, .subtitle {
	font-size: 1.8em;
	line-height: 1.2em;
	letter-spacing: -.045em;
	margin: 0;
	margin-bottom: -0.3em;
	margin-top: 1em;
}

.subtitle {
	margin-top: 0.6em;
	margin-bottom: 0;
	color: #F5474B;
}

h2 {
	font-size: 1.5em;
	line-height: 1.2em;
	letter-spacing: -.038em;
	margin-bottom: -0.4em;
	margin-top: 1.2em;
}

h3 {
	font-size: 1.2em;
	line-height: 1.2em;
	letter-spacing: -.031em;
	margin-bottom: -0.6em;
	margin-top: 1.75em;
}

h4, .authors {
	font-size: 1em;
	line-height: 1.2em;
	letter-spacing: -.025em;
	margin-bottom: -0.6em;
	margin-top: 2.17em;
}

.authors {
	line-height: 1.7em;
	margin-top: 1.1em;
	margin-bottom: 1.5em;
	color: #333;
}

.authors > a {
	color: #333;
	text-decoration: underline;
}

.footnote {
	font-size: 0.9em;
	color: #999;
	line-height: 0.8em;
	margin-top: 3em;
}

.footnote > p > a {
	color: #999;
	text-decoration: underline;
}

/*summary, .content {
	text-align: justify;
	text-justify: inter-word;
	-ms-word-break: normal;
	word-break: normal;

	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}*/

a {
	color: #0366D6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	margin: 0;
	margin-left: -1.3em;
	padding: 15;
}

/* header and footer areas */

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	/*font-size: 0.9em;*/
}

hr {
	border-style: solid;
	color: transparent;
}

/* code */
pre {
	margin: 0;
	background-color: #050505;
	border-radius: 10px;
	color: #fff;
	padding: 1em;
	overflow-x: auto;
}

code,kbd,pre,samp {
	font-family: "Consolas", Monaco, monospace;
	font-size: 0.92em;
	font-weight: 200;
	line-height: 1.5em;
	letter-spacing: 0em;
}

pre code {
	background: none;
}

/* misc elements */
iframe, video { max-width: 100%; }
main {
	margin-bottom: 40px;
}
blockquote {
	margin: 0;
	padding: 0;
	padding-left: 1em;
	border-left: 4px solid #333;
	border-radius: 4px;
	font-style: italic;
}

table {
	margin: auto;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

img.myphoto {
	max-width: 100px;
	max-height: 100px;
	min-width: 100px;
	min-height: 100px;
	border-radius: 100px;
	margin-top: 12vw;
	margin-bottom: 2vw;
}

.centered {
	text-align: center;
}
img.centered {
		position: relative;
		top: 10%;
		left: 10%;
}

img.centered:empty {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, 0%);
		-moz-transform: translate(-50%, 0%);
		-ms-transform: translate(-50%, 0%);
		-o-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
}

@media screen and (orientation: portrait) {
	img.centered {
			max-width: 90%;
	}
}

@media screen and (orientation: landscape) {
	img.centered {
			max-height: 90%;
	}
}

.table {
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.table li {
	display: inline-block;
	padding: 5px;
}

.table > div {
	font-size: 0.8em;
	letter-spacing: -.035em;
	line-height: 1.5em;
}

.table > .col1 {
	margin: 0;
	padding: 0;
	flex: 2 1 21%;
	order: 1;
}

.table > .col2 {
	margin: 0;
	padding: 0;
	flex: 1 6 79%;
	order: 3;
}
@media all and (max-width: 735px) {
	html {
		font-size: 15px;
		font-weight: 400;
	}

	.table > div {
		font-size: 1em;
	}

	.title {
		font-size: 1.8em;
	}
	
	h1, .subtitle {
		font-size: 1.6em;
	}
	
	h2 {
		font-size: 1.4em;
	}

	h3 {
		font-size: 1.2em;
	}

	footer {
		font-size: 0.8em;
	}

	.table {
		flex-direction: column;
		align-items: normal;
		margin-bottom: 1.5em;
	}

	footer > .table {
		text-align: center;
	}

	.table > .col1, .table > .col2 {
		order: 0;
	}
}
