{{ partial "header.html" . }}
<title>{{ .Title }} - Ed Duarte</title>
</head>

<body>

<div class="blob-container">
  <div class="blob blob-single-corner fade-in"></div>
</div>

<header class="logo">
  <span class="home-link"><a href="{{ .Site.BaseURL }}">Ed Duarte</a></span>
  {{ partial "theme-link.html" }}
</header>

<div class="article-container">
  <h4 class="mlt-header">Collection</h4>
  <div class="title">{{ .Title }}</div>

  {{ with .Content }}
  <div class="header-meta">
    {{ . }}
  </div>
  {{ end }}
</div>

<main class="main-container list-container">

  <div class="article-table">

    <main>

      <ul class="list">
        {{ range .Data.Pages.ByDate }}
        {{ if not .Params.hidden }}
        <li>
          {{ partial "list-item.html" . }}
        </li>
        {{ end }}
        {{ end }}
      </ul>

    </main>

  </div>

</main>

{{ partial "footer.html" . }}
