{{ partial "header.html" . }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
<meta property="og:type" content="website">
</head>

<body>

<header class="logo">
  <div>
    <span class="home-link"><a href="{{ .Site.BaseURL }}">Ed Duarte</a></span>
    {{ partial "theme-link.html" }}
  </div>
</header>

<div class="article-container">
  <h4 class="series-header mlt-header">Collection</h4>
  <div class="title">{{ .Title }}</div>

  {{ with .Content }}
    <div class="header-meta">
      {{ . }}
    </div>
  {{ end }}
</div>

<main class="main-container list-container">

  <div class="article-table">

    <main>

      <ul class="list">
        {{ if .File }}
          {{ $seriesKey := index (split (path.Dir .File.Dir) "/") 1 }}
          {{ range (.Data.Pages.ByDate.Reverse).ByParam $seriesKey }}
            {{ if not .Params.hidden }}
              <li>
                {{ partial "list-item.html" (dict "context" . "renderTechLabels" "true") }}
              </li>
            {{ end }}
          {{ end }}
        {{ else }}
          {{ range .Data.Pages }}
            {{ if not .Params.hidden }}
              <li>
                {{ partial "list-item.html" (dict "context" . "renderTechLabels" "true") }}
              </li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>

    </main>

  </div>

</main>

{{ partial "footer.html" . }}
