{{ partial "header.html" . }}
<title>{{ .Title }}</title>
</head>
<body class="list-page">
{{ if .IsHome }}
{{ partial "intro.html" . }}
{{ else }}
<div class="logo">
<span class="home-link">
<a href="{{ .Site.BaseURL }}">edduarte</a>
</span>
</div>
<section class="content">
{{ .Content }}
</section>
{{ end }}

<ul class="list">
{{ range (where .Data.Pages "Section" "!=" "") }}
<li>
<div class="table">
<div class="col1 list-meta">
{{ if .IsHome }} a {{ end }}
<span class="list-meta-date">{{ .Date.Format "2006 Jan 02" }}</span>
{{ if $.IsHome }}
<a href="{{ (.Section | urlize) | absLangURL }}" class="category">
{{ .Section }}
</a>
{{ end }}
</div>
<div class="col2 list-title">
<a href="{{ .URL }}">{{ .Title }}</a>
</div>
</div>
</li>
{{ end }}
</ul>

{{ if .IsHome }}
<section class="content">
{{ .Content }}
</section>
{{ end }}

{{ partial "footer.html" . }}
