{{ partial "header.html" . }}
<title>{{ .Title }}</title>
</head>

<body>
<div class="logo">
<span class="home-link"><a href="{{ .Site.BaseURL }}">edduarte</a></span>
&nbsp;&raquo;&nbsp;
<span class="section-link"><a href="/{{.Section}}">{{.Section}}</a></span>
</div>

<article>
<header>
<div class="title">{{ .Title }}</div>
<div class="subtitle">{{ .Params.subtitle }}</div>

<div class="metadata">
{{ $authorList := .Params.authors }}
{{ if $authorList }}
<p class="authors">
{{ $len := (len $authorList) }}
{{ $authorUrlList := .Params.authorUrls }}
{{ if eq $len 1 }}
<a href="{{ index $authorUrlList 0 }}">{{ index $authorList 0 }}</a>
{{ else }}
{{ range $i, $temp := $authorList }}{{ if eq (add $i 1) $len }} and {{ else if eq $i 0 }}{{ else }}, {{ end }}{{ $link := index $authorUrlList $i }}{{ if $link }}<a href="{{ $link }}">{{ . }}</a>{{ else }}{{ . }}{{ end }}{{ end }}
{{ end }}
</p>
{{ end }}
<p>{{ if .Params.date }}<span class="date">{{ .Date.Format "02 January 2006" }}</span>{{ end }}</p>
</div>

</header>

<div class="article-table">
<main>

<section class="content">
{{ .Content }}
</section>

</main>

<aside>
{{ $linkList := .Params.links }}
{{ if $linkList }}
<section>
<ul class="links">
{{ $linkUrlList := .Params.linkUrls }}
{{ range $i, $temp := $linkList }}{{ $link := index $linkUrlList $i }}{{ if $link }}<li><a href="{{ $link }}">{{ . }}</a></li>{{ else }}<li>{{ . }}</li>{{ end }}{{ end }}
</ul>
</section>
{{ end }}

<section class="toc">
{{.TableOfContents}}
</section>

<section class="footnote">
{{ with .Params.medium }}<p class="medium">This post can also be read on <a href="{{ . }}">Medium</a>.</p>{{ end }}
{{ with .Params.hn }}<p class="hn">Discussion on <a href="{{ . }}">Hacker News</a>.</p>{{ end }}
</section>

</aside>
</div>

</article>

{{ partial "footer.html" . }}
