<footer>
<ul class="table">
    <li>&copy; <a href="{{ .Site.BaseURL }}">Eduardo Duarte</a> 2015-2017</li>
    <li><a href="mailto:hi@edduarte.com">Email</a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/_edduarte">Twitter</a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/edduarte">Github</a></li>
</ul>
</footer>

<script type="text/javascript">

var init = function() {
const images = document.querySelectorAll('.js-lazy-image');
const config = {
    rootMargin: '50px 0px',
    threshold: 0.01
};

if (!('IntersectionObserver' in window)) {
    Array.from(images).forEach(image => loadImg(image));
} else {
    let observer = new IntersectionObserver(function(entries){
        entries.forEach(entry => {
            if (entry.intersectionRatio > 0) {
                observer.unobserve(entry.target);
                loadImg(entry.target);
            }
        });
    }, config);
    images.forEach(image => {
        observer.observe(image);
    });
};

function loadImg(i) {
    var dataSrc = i.getAttribute('data-src');
    if(dataSrc) {
        i.setAttribute('src',dataSrc);
    }
}
};

var raf = requestAnimationFrame || mozRequestAnimationFrame ||
webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(function() { window.setTimeout(init, 0); });
else window.addEventListener('load', init);

window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-103779128-1', 'auto');
ga('send', 'pageview');

</script>
<script type="text/javascript" async src='https://www.google-analytics.com/analytics.js'></script>
<noscript><link rel="stylesheet" href="{{ "/css/main-noscript.css" | relURL }}"></noscript>

</body>
</html>
