<footer class="footer">
  <ul class="table">
    <li class="footer-links"><a href="{{ .Site.BaseURL }}">Ed Duarte</a></li>
    <li class="footer-tags">
      <section class="fade-in">
        {{ $sections := .Site.Taxonomies.sections }}
        <ul class="links tags list-meta-tags">
          {{ range sort $sections "Page.Params.weight" "desc" }}
            <li>
              <a href="{{ .Page.Permalink }}" class="badge badge-section">
                {{ lower .Page.Title }}
              </a>
            </li>
          {{ end }}
        </ul>
      </section>
    </li>
  </ul>
</footer>
</body>
<noscript></div></noscript>
</html>
