<footer class="footer">
  <ul class="table">
    <li><a href="{{ .Site.BaseURL }}">Ed Duarte</a> 2014-2019</li>
    <li><a href="https://twitter.com/eddrt">Twitter</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://medium.com/@EdDuarte">Medium</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/EdDuarte">Github</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/Ed-Duarte">LinkedIn</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.edduarte.com/index.xml">RSS</a></li>
  </ul>
</footer>
</body>
<noscript></div></noscript>
</html>
