<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Params.description }}">
<meta name="keywords" content="Java, Kotlin, RESTful architecture, Distributed Systems, Stream Processing, Complex Event Processing, Distributed Caching, UI, UX, User Experience Design, User Interface Design, Natural Language Processing, Information Retrieval, Text Mining, iOS, Swift, Objective-C, Android, Jersey, Jetty, Tomcat, Spring Framework, Hibernate, SAAJ, JAXB, XSLT, Google App Engine, Parse, Firebase, Quartz, Semantic Web, JavaScript, jQuery, HTML">
<meta name="author" content="Eduardo Duarte">

<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Params.description }}">
<meta name="twitter:site" content="@_edduarte">
<meta name="twitter:creator" content="@_edduarte">
<meta name="twitter:card" content="summary">

<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Params.description }}">
<meta property="og:image" content="https://www.gravatar.com/avatar/c90cbe2011d1eb0738b7a8483946df1e?s=200">
<meta property="og:site_name" content="edduarte">
<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta property="og:type" content="article">

<link href="https://fonts.googleapis.com/css?family=Martel:400,700,900|Work+Sans:400,600" rel="stylesheet">
<link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
