<div class="content">

  <figure
      class="myphoto js-lazy-image"
      src="/13320427_307466512918702_3833355147561267939_o_crop_red_v2_compressed.jpg"
  >
    <img class="myphoto centered" />
  </figure>
  <noscript>
    <figure class="myphoto">
      <img
          class="myphoto centered"
          src="/13320427_307466512918702_3833355147561267939_o_crop_red_v2_compressed.jpg"
      />
    </figure>
  </noscript>

  <div class="myname centered">Hi! I'm Ed Duarte!</div>

  <div class="summary-container">
    <summary>
      Software engineer and researcher since 2014. Philonoist, cinephile and
      electronic music aficionado.
    </summary>
  </div>

  <h5 class="social centered">
    <a
        href="https://twitter.com/eddrt"
        title="Twitter"
        class="icon social-icon icon-twitter"
    >
      <span class="screen-reader">Twitter</span>
    </a>
    <a
        href="https://github.com/EdDuarte"
        title="GitHub"
        class="icon social-icon icon-github"
    >
      <span class="screen-reader">GitHub</span>
    </a>
    <a
        href="/index.xml"
        title="RSS Feed"
        class="icon social-icon icon-feed"
    >
      <span class="screen-reader">RSS feed</span>
    </a>
  </h5>

</div>