<img src="https://www.gravatar.com/avatar/c90cbe2011d1eb0738b7a8483946df1e?s=100"
 class="myphoto centered"/>

<h2 class="myname centered" style="margin-top: 0;">Hi! I'm Eduardo Duarte!</h2>
<h3 class="myname centered" style="margin-top: 1em;">
	<a href="mailto:hi@edduarte.com">hi@edduarte.com</a>
</h3>
<h4 class="myname centered" style="margin-top: 1.6em; color: #fe5f55;">
	<a href="https://linkedin.com/in/edduart">LinkedIn</a> |
	<a href="https://github.com/edduarte">Github</a> |
	<a href="https://twitter.com/_edduarte">Twitter</a>
</h4>

<summary>24 year old junior software developer. Passionate about projects that
involve both technical and creative fields. Over three years of hands-on
experience with Backend Architecture, Web Applications, UI/UX Design, Mobile
Development, Information Visualization, Natural Language Processing and
Information Retrieval.</summary>

<p class="skills centered">Java, Kotlin, REST, Spring, Jetty, Tomcat, Android,
iOS, Swift, Javascript ES6</p>
