
  <figure class="myphoto">
    <img
        class="myphoto centered"
        src="13320427_307466512918702_3833355147561267939_o_crop_red_v2_compressed_alt.jpg"
        alt="Profile photo"
    />
  </figure>

  <div class="tag-title centered">{{ .Title }}</div>

  <div class="social centered">
    <a
        href="https://twitter.com/eddrt"
        title="Twitter"
        class="icon social-icon social-icon-twitter"
    >
      <span class="screen-reader">Twitter</span>
    </a>
    <a
        href="https://github.com/EdDuarte"
        title="GitHub"
        class="icon social-icon social-icon-github"
    >
      <span class="screen-reader">GitHub</span>
    </a>
    <a
        href="/index.xml"
        title="RSS Feed"
        class="icon social-icon social-icon-feed"
    >
      <span class="screen-reader">RSS feed</span>
    </a>
  </div>
