
{{ $tags := .Site.Taxonomies.tags }}

<div>
  <div class="list-meta">
    <div class="table">
      <time class="col1 list-meta-date">
        {{ .Date.Format "Jan 02, 2006" }}
      </time>
      <span class="col2 list-meta-tags">
        {{ $tagList := .Params.tags }}
        {{ if $tagList }}
        <ul class="links tags list-meta-tags-ul">
          {{ range .Params.tags }}{{ $tag := index $tags . }}<li><a href="{{ $tag.Page.Permalink }}" class="badge badge-{{ . }}">{{ . }}</a></li>{{ end }}
        </ul>
        {{ end }}
        </span>
    </div>
  </div>
  <hr>
  {{ if .Params.externalLink }}
  <a href="{{ .Params.externalLink }}" class="list-item">
  {{ else }}
  <a href="{{ .Permalink }}" class="list-item">
  {{ end }}
    <div class="list-item-container">
      <div class="list-title-alt">
        {{ if .Params.externalLink }}
        <div class="icon list-icon icon-external-link"></div>
        {{ end }}
        <h5 class="list-title-alt-h">{{ .Title }}</h5>
      </div>
      {{ with .Params.description }}
      <div class="list-desc-alt">
        <p class="small">{{ . }}</p>
      </div>
      {{ end }}
    </div>
  </a>
</div>
