
{{ $c := .context }}
{{ $allTerms := .all }}
{{ $suffix := .suffix }}

{{ $termListKey := "termList" }}
{{ $prevKey := "previous" }}
{{ $nextKey := "next" }}
{{ $alsoKey := "also" }}
{{ $prevItemKey := "previousItem" }}
{{ $nextItemKey := "nextItem" }}
{{ $alsoItemKey := "alsoItem" }}

{{ $c.Scratch.Delete $termListKey }}

{{ if .list }}
  <div class="mlt-container">
    {{ range .list }}
      {{/* iterate through all associated taxonomies in order to find their
      params and to sort them by weight */}}
      {{ $term := index $allTerms . }}
      {{ $c.Scratch.Add $termListKey (slice $term) }}
    {{ end }}
    {{ $termList := $c.Scratch.Get $termListKey }}
    {{ range sort $termList "Page.Params.weight" "desc" }}
      {{ $term := . }}
      {{ $termName := $term.Page.Data.Term | string }}
      {{/* find the current page in the .Pages list (sorted chronologically) */}}
      {{ $pages := $term.Pages.ByDate }}
      {{ range $i, $v := $pages }}
        {{ if eq $c.File $v.File }}
          {{ $c.Scratch.Delete $prevItemKey }}
          {{ $c.Scratch.Delete $nextItemKey }}

          {{/* find the closest previous or next post in this taxonomy, but
          without repeating (if the immediate previous or next post has already
          been displayed by previous taxonomies, skip it */}}
          {{ partial "mlt-previous-lookup.html" (dict "context" $c "pages" $pages "i" $i "termName" $termName "prevKey" $prevKey "nextKey" $nextKey "lookupKey" $prevKey "resultKey" $prevItemKey) }}
          {{ partial "mlt-next-lookup.html" (dict "context" $c "pages" $pages "i" $i "termName" $termName "prevKey" $prevKey "nextKey" $nextKey "lookupKey" $nextKey "resultKey" $nextItemKey) }}

          {{ $prevItem := $c.Scratch.Get $prevItemKey }}
          {{ $nextItem := $c.Scratch.Get $nextItemKey }}
          {{ if or $prevItem $nextItem }}
            <h4 class="mlt-header">Other posts in the <a href="{{ $term.Page.Permalink }}">{{ lower $term.Page.Title }}</a> {{ $suffix }}</h4>
            <div class="mlt-table">
              {{ with $prevItem }}
                <div class="mlt mlt-previous">
                  {{ partial "list-item.html" (dict "context" . "renderTechLabels" "false") }}
                </div>
              {{ end }}
              {{ with $nextItem }}
                <div class="mlt mlt-next">
                  {{ partial "list-item.html" (dict "context" . "renderTechLabels" "false") }}
                </div>
              {{ end }}
              {{ if not $prevItem }}
                {{/* there was no previous post, so find another next post */}}
                {{ partial "mlt-next-lookup.html" (dict "context" $c "pages" $pages "i" $i "termName" $termName "prevKey" $prevKey "nextKey" $nextKey "lookupKey" $alsoKey "resultKey" $alsoItemKey) }}
                {{ with ($c.Scratch.Get $alsoItemKey) }}
                  <div class="mlt mlt-next">
                    {{ partial "list-item.html" (dict "context" . "renderTechLabels" "false") }}
                  </div>
                {{ end }}
              {{ else if not $nextItem }}
                {{/* there was no next post, so find another previous post */}}
                {{ partial "mlt-previous-lookup.html" (dict "context" $c "pages" $pages "i" $i "termName" $termName "prevKey" $prevKey "nextKey" $nextKey "lookupKey" $alsoKey "resultKey" $alsoItemKey) }}
                {{ with ($c.Scratch.Get $alsoItemKey) }}
                  <div class="mlt mlt-next">
                    {{ partial "list-item.html" (dict "context" . "renderTechLabels" "false") }}
                  </div>
                {{ end }}
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      {{ end }}

    {{ end }}
  </div>
{{ end }}
