{{ partial "header.html" . }}
<title>{{ .Site.Title }}</title>
<meta property="og:type" content="website">
</head>

<body>

{{ $sections := .Site.Taxonomies.sections }}

<div class="blob-container">
  <div class="blob blob-home-top"></div>
  <div class="blob blob-home-top-cut"></div>
  <div class="blob blob-home-bottom"></div>
  <div class="blob blob-home-bottom-cut"></div>
  <div class="blob blob-home-corner"></div>
</div>

<header class="logo">
  <div>
    {{ partial "theme-link.html" (dict "Page" .) }}
  </div>
</header>

<div class="article-container bio-container">

  <div class="title section-name">{{ .Title }}</div>
  <div class="social">
    <a
        href="https://github.com/EdDuarte"
        title="GitHub"
        class="icon social-icon social-icon-github"
    >
      <span class="screen-reader">GitHub</span>
    </a>
  </div>
  <section class="tags-container">
    <ul class="links tags">
      {{ range sort $sections "Page.Params.weight" "desc" }}
        <li>
          <a href="{{ .Page.Permalink }}" class="badge badge-section badge-{{ .Page.Data.Term }}">
            {{ lower .Page.Title }}
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
</div>

<main class="main-container article-container">

  <div class="article-table">

    <aside class="aside-home">

      <div class="sticky aside-block-container">
        <section class="aside-block">
          <div class="card-aside card-collections">
            <div class="card-title">Collections</div>
            <hr>
            <ul class="collections">
              {{ range $i, $e := (sort .Site.Taxonomies.collections ".Page.Params.weight" "desc") }}
                {{ if $i }}
                  <li>
                    <hr>
                  </li>
                {{ end }}
                <li>
                  <a href="{{ .Page.Permalink }}">
                    <div class="card-item-desc">
                      {{ if .Page.Params.popular }}
                        <span class="collections-label">Popular</span>
                      {{ end }}
                      <span class="card-item-title">{{ .Page.Title }}</span>
                    </div>
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
        </section>
        <section class="aside-block">
          <div class="card-aside card-currently">
            <div class="card-title">About me</div>
            <hr>
            <div class="card-item-desc sidenote">
              {{ .Content }}
            </div>
          </div>
        </section>
      </div>

    </aside>

    <main class="home-list-container">
      <div class="home-list">
        <div class="top-padding"></div>

        <ul class="list">
          {{ range where $.Site.Pages.ByDate.Reverse "Section" "posts" }}
            {{ if and (and (not .Params.hidden) (not (isset .Params "parents"))) (not (eq .Title "Posts")) }}
              <li>
                {{ partial "list-item.html" (dict "context" . "renderSubtitle" "true" "renderTechLabels" "false") }}

                {{ $requiredBy := where .Site.Pages ".Params.parents" "intersect" (slice .File.BaseFileName) }}
                {{ if gt (len $requiredBy) 0 }}
                  <section>
                    <ul class="children-list">
                      {{ range $requiredBy }}
                        <li>
                          {{ partial "list-item.html" (dict "context" . "renderSubtitle" "true" "renderTechLabels" "false") }}
                        </li>
                      {{ end }}
                    </ul>
                  </section>
                {{ end }}
              </li>
            {{ end }}
          {{ end }}
        </ul>

      </div>
    </main>

  </div>

</main>

{{ partial "footer.html" . }}
