{{ partial "header.html" . }}
<title>{{ .Site.Title }}</title>
<meta property="og:type" content="website">
</head>

<body>

{{ $sections := .Site.Taxonomies.sections }}

<div class="blob-container">
  <div class="blob blob-home-top"></div>
  <div class="blob blob-home-top-cut"></div>
  <div class="blob blob-home-bottom"></div>
  <div class="blob blob-home-bottom-cut"></div>
  <div class="blob blob-home-corner"></div>
</div>

<header class="logo">
  <div>
    {{ partial "theme-link.html" (dict "Page" .) }}
  </div>
</header>

<div class="article-container bio-container">

  <div class="title section-name">{{ .Title }}</div>
  <div class="social">
    <a
        href="https://twitter.com/eddrt"
        title="Twitter"
        class="icon social-icon social-icon-twitter"
    >
      <span class="screen-reader">Twitter</span>
    </a>
    <a
        href="https://github.com/EdDuarte"
        title="GitHub"
        class="icon social-icon social-icon-github"
    >
      <span class="screen-reader">GitHub</span>
    </a>
    <a
        href="/index.xml"
        title="RSS Feed"
        class="icon social-icon social-icon-feed"
    >
      <span class="screen-reader">RSS feed</span>
    </a>
  </div>
  <section class="tags-container fade-in">
    <ul class="links tags">
      {{ range sort $sections "Page.Params.weight" "desc" }}
        <li>
          <a href="{{ .Page.Permalink }}" class="badge badge-section badge-{{ .Page.Data.Term }}">
            {{ lower .Page.Title }}
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
  <div class="header-meta bio">
    {{ .Content }}
  </div>
</div>

<main class="main-container article-container">

  <div class="article-table">

    <aside class="aside-home">

      <div class="sticky">
        <section class="card card-collections">
          <div class="card-title">Collections</div>
          <hr>
          <ul class="collections">
            {{ range $i, $e := (sort .Site.Taxonomies.collections ".Page.Params.weight" "desc") }}
              {{ if $i }}
                <li>
                  <hr>
                </li>
              {{ end }}
              <li>
                <a href="{{ .Page.Permalink }}">
                  <div class="card-item-desc">
                    {{ if .Page.Params.popular }}
                      <span class="collections-label">Popular</span>
                    {{ end }}
                    <span class="card-item-title">{{ .Page.Title }}</span>
                  </div>
                </a>
              </li>
            {{ end }}
          </ul>
          <!--
          <div class="card-item-metadata">
            <a href="/collections">
              More collections »
            </a>
          </div>
          -->
        </section>
      </div>

    </aside>

    <main class="home-list-container">
      <div class="home-list">
        <div class="top-padding"></div>

        <ul class="list">
          {{ range .Data.Pages.ByDate.Reverse }}
            {{ if and (not .Params.hidden) (not (isset .Params "parents")) }}
              <li>
                {{ partial "list-item.html" (dict "context" . "renderSubtitle" "true" "renderTechLabels" "false") }}

                {{ $requiredBy := where .Site.Pages ".Params.parents" "intersect" (slice .File.BaseFileName) }}
                {{ if not (eq (len $requiredBy) 0) }}
                  <section>
                    <ul class="children-list">
                      {{ range $requiredBy }}
                        <li>
                          {{ partial "list-item.html" (dict "context" . "renderSubtitle" "true" "renderTechLabels" "false") }}
                        </li>
                      {{ end }}
                    </ul>
                  </section>
                {{ end }}
              </li>
            {{ end }}
          {{ end }}
        </ul>

      </div>
    </main>

  </div>

</main>

{{ partial "footer.html" . }}
