{{ partial "header.html" . }}
<title>{{ .Site.Title }}</title>
</head>
<body class="body-list">

<!--
<header class="logo">
  <span class="home-link"><a href="{{ .Site.BaseURL }}">Ed Duarte</a></span>
</header>
-->
{{ $tags := .Site.Taxonomies.tags }}

<div class="blob-container">
  <div class="blob-photo fade-in"></div>
  <div class="blob blob-home-top fade-in"></div>
  <div class="blob blob-home-top-cut"></div>
  <div class="blob blob-home-bottom fade-in"></div>
  <div class="blob blob-home-bottom-cut"></div>
  <div class="blob blob-home-corner fade-in"></div>
</div>

<header class="logo">
  {{ partial "theme-link.html" }}
</header>

<div class="article-container bio-temp-content">

  <div class="title section-name">{{ .Title }}</div>
  <div class="social">
    <a
        href="https://twitter.com/eddrt"
        title="Twitter"
        class="icon social-icon social-icon-twitter"
    >
      <span class="screen-reader">Twitter</span>
    </a>
    <a
        href="https://github.com/EdDuarte"
        title="GitHub"
        class="icon social-icon social-icon-github"
    >
      <span class="screen-reader">GitHub</span>
    </a>
    <!--
    <a
        href="https://www.linkedin.com/in/Ed-Duarte"
        title="LinkedIn"
        class="icon social-icon social-icon-linkedin"
    >
      <span class="screen-reader">LinkedIn</span>
    </a>
    -->
    <a
        href="/index.xml"
        title="RSS Feed"
        class="icon social-icon social-icon-feed"
    >
      <span class="screen-reader">RSS feed</span>
    </a>
  </div>
  <section class="tags-container">
    <ul class="links tags">
      {{ range $key, $value := $tags }}<li><a href="{{ $value.Page.Permalink }}" class="badge badge-{{ $key }}">{{ lower $value.Page.Title }}</a></li>{{ end }}
    </ul>
  </section>
  <div class="header-meta bio-temp">
    {{ .Content }}
  </div>
</div>

<main class="main-container article-container">

<div class="article-table">

<main class="home-list-container">
<div class="home-list">

<ul class="list">
  {{ range .Data.Pages.ByDate.Reverse }}
  {{ if not .Params.hidden }}
  <li>
    {{ partial "list-item.html" . }}
  </li>
  {{ end }}
  {{ end }}
</ul>

</div>
</main>

<aside>

<div class="sticky">
<section class="card card-item card-series">
  <!--<hr>-->
  <!--<div class="card-item-title">Series of Articles</div>-->
  <ul class="series">
    {{ range $i, $e := (sort .Site.Taxonomies.series ".Page.Params.weight" "desc") }}
    {{ if $i }}
    <li>
    <hr>
    </li>
    {{ end }}
    <li>
      <a href="{{ .Page.Permalink }}">
        <div class="card-item-desc">
          {{ if .Page.Params.popular }}
          <span class="series-badge">Top</span>
          {{ end }}
          <span class="card-item-ti">{{ .Page.Title }}</span>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
  <!--
  <div class="card-item-metadata">
    <a href="/series">
      More series »
    </a>
  </div>
  -->
</section>
</div>

</aside>

</div>

</main>

{{ partial "footer.html" . }}
