{{ $hasCounter := eq (.Get "counter") "true" }}
<figure class="js-lazy-image{{ if $hasCounter }} figcounter{{ end }}" src='{{ .Get "src" }}'>
  <img
      src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
      alt='{{ .Get "alt" }}'
      title='{{ .Get "alt" }}'
      {{ with .Get "class" }} class='{{.}}' {{ end }}
  />
  <figcaption>{{ .Inner }}</figcaption>
</figure>
<noscript>
<figure{{ if $hasCounter }} class="figcounter"{{ end }}>
  <img
      src='{{ .Get "src" }}'
      alt='{{ .Get "alt" }}'
      title='{{ .Get "alt" }}'
      {{ with .Get "class" }} class='{{.}}' {{ end }}
  />
  <figcaption>{{ .Inner }}</figcaption>
</figure>
</noscript>
